#about {
    height: 100vh;
    background-image: url(../assets/solar_img1.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

/* section global */

h1 {
    font-size: 4.7rem;
    color: rgb(56, 56, 209);
    margin: 0;
}

.content {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    text-align: center;
}

.content p {
    text-align: center;
}

.mobile-img {
    display: none;
}

section .button {
    text-decoration: none;
    border: none;
    width: 30%;
    height: 8%;
    background-color: rgb(56, 56, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: all 0.3s ease;
}

section .button:hover {
    background-color: rgb(36, 36, 159);
    transform: scale(1.05);
}

section .button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(56, 56, 209, 0.5);
}


/* section 1 solar */

#solar {
    height: 100vh;
}

#solar .image {
    height: 70%;
    width: 70%;
}

#solar .image img {
    height: 100%;
    border-radius: 20px;
}

/* section 2 cctv */

#cctv {
    height: 100vh;
}

#cctv .image {
    height: 70%;
    width: 70%;
}

#cctv .image img {
    height: 100%;
    border-radius: 20px;
}

#cctv .content p {
    padding: 2%;
}

/* section 3 applances */

#appliances {
    width: 100vw;
    height: 150vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#appliances .content {
    height: 25%;
}

.img-container {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.csub {
    width: 35%;
    height: 45%;
    border-radius: 20px;
    background-color: white;
}

.csub img {
    height: 90%;
    border-radius: 20px;
}

#appliances_button {
    width: 15%;
    height: 50px;
}


/* section 4 info */


#info {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#info div {
    width: 30%;
    height: 70%;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#info div:hover {
    background-color: rgb(67, 61, 255);
    color: white;
    transform: scale(1.05);
}

#info div:hover h1 {
    color: white;
    transform: scale(1.05);
}

#info div h1 {
    font-size: 2.5rem;
}

/* responsive  */


@media screen and (max-width: 1300px) {
    h1 {
        font-size: 4.0rem;
    }

    #solar .image {
        height: 65%;
    }

    #cctv .image {
        height: 65%;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 3.7rem;
    }

    #solar .image {
        height: 60%;
    }

    #cctv .image {
        height: 60%;
    }
}

@media screen and (max-width: 1100px) {
    .menu-links {
        top: 150%;
        width: 30vw;
    }

    .logo {
        width: 100px;
        height: 55px;
    }

    .title h1 {
        font-size: 5.0rem;
        color: rgb(56, 56, 209);
    }

    .title h2 {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .desktop-img {
        display: none;
    }

    #solar {
        justify-content: space-evenly;
    }

    #solar .content .image {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #solar .content .image img {
        height: 100%;
        border-radius: 20px;
    }

    .mobile-img {
        display: flex;
    }

    .content {
        width: 90%;
        height: 100%;
        justify-content: space-evenly;
    }

    #solar_button {
        width: 25%;
        height: 8%;
    }

    #cctv .image {
        height: 45%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cctv .desktop-img {
        display: none;
    }

    #cctv .image img {
        height: 100%;
        border-radius: 20px;
    }

    #cctv_button {
        width: 25%;
        height: 8%;
    }

    .img-container {
        width: 70%;
        height: 75%;
    }

    .csub {
        width: 51%;
        height: 25%;
    }

    #info {
        height: 130vh;
        flex-direction: column;
    }

    #info div {
        width: 90vw;
        height: 30%;
        padding: 5%;
    }

    #info div h1 {
        font-size: 2rem;
    }

    footer {
        height: 20vh;
    }
}

@media (max-width: 768px) {
    .menu-links {
        width: 70vw;
    }

    .logo {
        height: 50px;
    }

    .title {
        width: 100%;
        height: 90%;
        text-align: center;
        margin-top: 30px;
    }

    .title h1 {
        font-size: 2.5rem;
    }

    .title h2 {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    #solar .content .image {
        height: 30%;
    }

    #solar_button {
        width: 50%;
    }

    #cctv {
        flex-direction: column;
    }

    #cctv .image {
        height: 25%;
        width: 100%;
    }

    #cctv_button {
        width: 50%;
    }

    .img-container {
        width: 90%;
        height: 65%;
    }

    .csub {
        width: 100%;
        height: 24%;
    }

    #appliances_button {
        width: 35%;
    }

}