body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#solar {
    height: 50vh;
    flex-direction: column;
}

.services {
    width: 95vw;
    border-radius: 20px;
    flex-direction: column;
    background-color: white;
}

.csub {
    width: 100%;
    height: 80vh;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.content p {
    font-size: 1.4rem;
}

.img {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-img {
    display: none;
}

.img img {
    height: 100%;
    border-radius: 20px;
    z-index: 1;
}

.title2 {
    font-size: 3.3rem;
    margin: 0;
}

h1 {
    font-size: 2.7rem;
    color: rgb(55, 55, 255);
}

#benefits {
    width: 95vw;
    border-radius: 20px;
    margin-top: 50px;
    flex-direction: column;
    background-color: white;
}

#benefits ul {
    font-size: 1.5rem;
    line-height: 150%;
}

#specifications {
    width: 95vw;
    border-radius: 20px;
    margin: 50px 0;
    flex-direction: column;
    background-color: white;
}

#specifications h1 {
    text-align: center;
}

#specifications ul {
    font-size: 1.5rem;
    line-height: 150%;
}

footer {
    height: 10vh;
}

.svg {
    position: absolute;
    top: 810px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3000px;
    overflow: hidden;
}

svg {
    height: 100%;
    width: auto;
}

hr{
    display: none;
}

@media (max-width: 1100px) {
    .menu-links {
        width: 70vw;
    }

    #solar {
        height: 35vh;
    }

    .logo {
        height: 50px;
    }

    .title h1 {
        font-size: 2.7rem;
    }

    .services h1 {
        font-size: 1.7rem;
    }

    .csub {
        height: 50vh;
    }

    .content {
        width: 100%;
    }

    .content h1 {
        font-size: 1.1rem;
    }

    .content p {
        font-size: 0.9rem;
    }

    .img {
        width: 90%;
        height: 40%;
    }

    .img img {
        height: 100%;
        width: 100%;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: flex;
    }

    .title2 {
        font-size: 3.3rem;
    }

    #benefits ul {
        font-size: 1.1rem;
    }

    #specifications ul {
        font-size: 1.1rem;
    }

    .svg {
        display: none;
    }

    hr{
        display: block;
    }
}

@media (max-width: 768px) {
    .menu-links {
        width: 70vw;
    }

    #solar {
        height: 35vh;
    }

    .logo {
        height: 50px;
    }

    .title h1 {
        font-size: 2.7rem;
    }

    .services h1 {
        font-size: 1.7rem;
    }

    .csub {
        height: 50vh;
    }

    .content {
        width: 100%;
    }

    .content h1 {
        font-size: 1.1rem;
    }

    .content p {
        font-size: 0.9rem;
    }

    .img {
        width: 90%;
        height: 40%;
    }

    .img img {
        height: 100%;
        width: 100%;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: flex;
    }

    .title2 {
        font-size: 3.3rem;
    }

    #benefits ul {
        font-size: 1.1rem;
    }

    #specifications ul {
        font-size: 1.1rem;
    }

    .svg {
        display: none;
    }
}